// 公共全局 scss 变量
$--background--color: #020b26;
$active: rgba(49, 180, 245, 1);
$bgColor: rgba(12, 26, 53, 0.829);

$bg-color: #020b26;
$primary-color: #1c90dc;
$primary-active-color: #31b4f5;
// $primary-color: #f00;
$primary-hover-color: #79bbff;
$primary-bg-color: rgba(24, 55, 94, 1);
$-color: #1c90dc;
$--warn-color: #f7b500;
$--warn-hover-color: #eebe77;
$--warn-bg-color: rgba(247, 181, 0, 0.24);
$--warn-active-color: #b88230;
$--success-color: #67c23a;
$--success-hover-color: #95d475;
$--success-bg-color: rgba(149, 212, 117, 0.24);
$--success-active-color: #529b2e;
